<h1>Elige un componente</h1>
<input type="radio" name="f" id="1" #inputRadio/><label for="1">&nbsp;Compnente 1</label><br>
<input type="radio" name="f" id="2" #inputRadio/><label for="2">&nbsp;Compnente 2</label><br>
<input type="radio" name="f" id="3" #inputRadio/><label for="3">&nbsp;Compnente 3</label>

<!-- <div [ngSwitch]="seleccion">
  <directivas-componente1 *ngSwitchCase="1"></directivas-componente1>
  <directivas-componente1 *ngSwitchCase="2"></directivas-componente1>
  <directivas-componente1 *ngSwitchCase="3"></directivas-componente1>
</div> -->
